.Header_container {
  width: 100%;
  height: 50px;
  background-color: #00b38363;
  border-bottom: 1px solid #ccc;
  position: fixed;
}

.header_other {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_log {
  font-size: 20px;
  font-weight: bold;
}

.headerSearch {
  width: 200px;
}

.header_cartButton {
  width: 100px;
}
.header_cartButton button span {
  color: rgb(253, 253, 253);
  margin-left: 0.3rem;
}

.header_cartButton button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
